#map {
    height: 100vh;
    width: 100%;
    z-index: 1;
}
.popup {
    z-index: 100;
    width: 100%;
    overflow-y: scroll;
    background-color: white;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: none;
    box-shadow: 0 10px 30px 5px grey !important;
    animation-name: fromBottom;
    animation-duration: 0.3s;
    .popup-content {
        padding: 10px 20px;
        margin-top: 60px;
        .content {
            font-weight: 700;
        }
    }
}
@keyframes fromBottom {
    from {
        bottom: -100%;
    }
    to {
        bottom: 0%;
    }
}
.header {
    padding: 0 20px;
    z-index: 100;
    position: absolute;
    top: 10px;
    width: 100%;
    .input {
        width: 80%;
        border: none;
        border-radius: 0;
        outline: none;
        height: 3rem;
        font-size: 16px;
        background-color: white !important;
        border-radius: 5px !important;
        padding-left: 20px !important;
        border-bottom: none !important;
        -webkit-box-shadow: 0 8px 6px -6px lightgrey !important;
        -moz-box-shadow: 0 8px 6px -6px lightgrey !important;
        box-shadow: 0 8px 6px -6px lightgrey !important;
    }
    .btn {
        float: right;
        width: 3rem;
        height: 3rem;
        background-color: white !important;
        -webkit-box-shadow: 0 8px 6px -6px lightgrey !important;
        -moz-box-shadow: 0 8px 6px -6px lightgrey !important;
        box-shadow: 0 8px 6px -6px lightgrey !important;
    }
}
@media screen and (min-width: 1024px) {
    .header {
        width: 40%;
    }
  }
.title {
    background-color: black;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 5px 20px;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 100;
    h1 {
        font-weight: 700;
        font-size: 31px;
        color: white;
        max-width: 90%;
        margin-top: 2px;
    }
    img {
        position: absolute;
        right: 10px;
        top: 7px;
    }
}
.more-btn {
    background-color: #ebe7e7;
    color: black;
    font-weight: bold;
}
.less-btn {
    background-color: #ebe7e7;
    color: black;
    font-weight: bold;
}
.expand {
    height: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    .title {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .more-btn {
        display: none;
    }
    .expand-content {
        display: block !important;
    }
}