<div class="header">
  <input autocapitalize="none" class="input" placeholder="Rechercher" required="">
</div>
<div id="map">
</div>
<div id="popup" class="popup">
  <div class="title">
    <h1>Hôtel Dieu</h1>
    <img (click)="closePopup()" width="40" src="../assets/img/times-circle.svg">
  </div>
  
  <div class="popup-content">
    <div class="col-12 p-0 d-flex mb-3 align-middle">
      <img class="mr-3" width="40" src="../assets/img/parking-circle.svg">
      <h4 class="content pt-2 align-middle">128 places libres</h4>
    </div>
    <div class="col-12 p-0 d-flex mb-3 align-middle">
      <img class="mr-3" width="35" src="../assets/img/graph-bar.svg">
      <h4 class="content pt-2 align-middle">+16%</h4>
    </div>
    <div class="col-12 p-0">
      <button class="btn more-btn w-100">Voir plus</button>
    </div>
  </div>
</div>